:root{
  --main-border-radius: 8px;
  --main-theme-color: #1A05A2;
  --second-color: #8F0177;
  --third-color: #DE1A58;
  --last-color: #F67D31;


}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #353333;
}